DOCTYPE
html
	head
		title Robot Rewards
		link(type="text/css" rel="stylesheet" href="semantic/semantic.min.css")
		link(type="text/css" rel="stylesheet" href="components/button.min.css")
		link(type="text/css" rel="stylesheet" href="components/container.min.css")
		link(type="text/css" rel="stylesheet" href="components/dimmer.min.css")
		link(type="text/css" rel="stylesheet" href="components/dropdown.min.css")
		link(type="text/css" rel="stylesheet" href="components/form.min.css")
		link(type="text/css" rel="stylesheet" href="components/grid.min.css")
		link(type="text/css" rel="stylesheet" href="components/icon.min.css")
		link(type="text/css" rel="stylesheet" href="components/image.min.css")
		link(type="text/css" rel="stylesheet" href="components/input.min.css")
		link(type="text/css" rel="stylesheet" href="components/search.min.css")
		link(type="text/css" rel="stylesheet" href="components/statistic.min.css")
		link(type="text/css" rel="stylesheet" href="css/index.css")
	body

		.ui.one.column.centered.grid.container
			.row
				.column
					.ui.dimmable.dimmed.segment
						img.ui.fluid.image#profilePic(src="http://lorempixel.com/1080/1440")
						.ui.simple.dimmer
							.content
								.centered
									.ui.huge.inverted.statistic
										.value#points 0
										.label Points
			.row
				.column
					.ui.fluid.form
						.field
							select.ui.search.fluid.dropdown#teamMemberSelect
								option#selectInit(value="") Select team member...
			.two.column.centered.row
				.column
					.ui.massive.inverted.red.fluid.icon.button#decrement
						i.minus.icon
				.column
					.ui.massive.inverted.blue.fluid.icon.button#increment
						i.plus.icon

		script(src="js/jquery.min.js")
		script(src="semantic/semantic.min.js")
		script(src="components/dimmer.min.js")
		script(src="components/dropdown.min.js")
		script(src="components/form.min.js")
		script(src="components/search.min.js")
		script(src="components/visibility.min.js")
		script(srv="js/deepstream.min.js")
		script(src="js/index.js")