DOCTYPE
html
	head
		title Robot Rewards
		link(type="text/css" rel="stylesheet" href="semantic/semantic.min.css")
		link(type="text/css" rel="stylesheet" href="components/accordion.min.css")
		link(type="text/css" rel="stylesheet" href="components/button.min.css")
		link(type="text/css" rel="stylesheet" href="components/card.min.css")
		link(type="text/css" rel="stylesheet" href="components/checkbox.min.css")
		link(type="text/css" rel="stylesheet" href="components/container.min.css")
		link(type="text/css" rel="stylesheet" href="components/dimmer.min.css")
		link(type="text/css" rel="stylesheet" href="components/divider.min.css")
		link(type="text/css" rel="stylesheet" href="components/dropdown.min.css")
		link(type="text/css" rel="stylesheet" href="components/form.min.css")
		link(type="text/css" rel="stylesheet" href="components/grid.min.css")
		link(type="text/css" rel="stylesheet" href="components/header.min.css")
		link(type="text/css" rel="stylesheet" href="components/icon.min.css")
		link(type="text/css" rel="stylesheet" href="components/image.min.css")
		link(type="text/css" rel="stylesheet" href="components/input.min.css")
		link(type="text/css" rel="stylesheet" href="components/list.min.css")
		link(type="text/css" rel="stylesheet" href="components/loader.min.css")
		link(type="text/css" rel="stylesheet" href="components/menu.min.css")
		link(type="text/css" rel="stylesheet" href="components/modal.min.css")
		link(type="text/css" rel="stylesheet" href="components/popup.min.css")
		link(type="text/css" rel="stylesheet" href="components/progress.min.css")
		link(type="text/css" rel="stylesheet" href="components/rating.min.css")
		link(type="text/css" rel="stylesheet" href="components/reset.min.css")
		link(type="text/css" rel="stylesheet" href="components/search.min.css")
		link(type="text/css" rel="stylesheet" href="components/sidebar.min.css")
		link(type="text/css" rel="stylesheet" href="components/site.min.css")
		link(type="text/css" rel="stylesheet" href="components/statistic.min.css")
		link(type="text/css" rel="stylesheet" href="components/transition.min.css")
		link(type="text/css" rel="stylesheet" href="css/index.css")
	body

		.ui.one.column.centered.grid.container
			.row
				.column
					.ui.dimmable.dimmed.segment
						img.ui.fluid.image(src="http://lorempixel.com/1080/1440")
						.ui.simple.dimmer
							.content
								.centered
									.ui.huge.inverted.statistic
										.value 0
										.label Points
			.row
				.column
					.ui.fluid.form
						.field
							select.ui.search.fluid.dropdown#teamMemberSelect
								option#selectInit(value="") Select team member...
								option(value="") Graham Barber
								option(value="") Adam Jensen
								option(value="") Sam Fisher
								option(value="") Venom Snake
								option(value="") Isaac Clarke
			.two.column.centered.row
				.column
					.ui.massive.inverted.red.fluid.icon.button
						i.minus.icon
				.column
					.ui.massive.inverted.blue.fluid.icon.button
						i.plus.icon

		script(src="js/jquery.min.js")
		script(src="semantic/semantic.min.js")
		script(src="components/accordion.min.js")
		script(src="components/api.min.js")
		script(src="components/checkbox.min.js")
		script(src="components/dimmer.min.js")
		script(src="components/dropdown.min.js")
		script(src="components/form.min.js")
		script(src="components/modal.min.js")
		script(src="components/popup.min.js")
		script(src="components/progress.min.js")
		script(src="components/rating.min.js")
		script(src="components/search.min.js")
		script(src="components/sidebar.min.js")
		script(src="components/site.min.js")
		script(src="components/state.min.js")
		script(src="components/transition.min.js")
		script(src="components/visibility.min.js")
		script(src="js/index.js")